<div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://vng-realisatie.github.io/Haal-Centraal/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Starten met Haal Centraal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal/starten-met-haal-centraal">Startgids</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal/transitieplan">Transitieplan</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal/security">Security</a>
       </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Aansluiten op API's
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal/aansluiten-op-apis">Aansluiten op API's</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/BAG-Gemeentelijke-wensen-tav-BAG-Bevragingen/">BAG Individuele Bevragingen (live)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal-BRK-bevragen/">BRK Bevragen (live)</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://brp-api.github.io/Haal-Centraal-BRP-bevragen/">BRP Persoon (live)</a>
          <a class="dropdown-item" href="https://brp-api.github.io/Haal-Centraal-BRP-historie-bevragen/">BRP Historie</a>
          <a class="dropdown-item" href="https://brp-api.github.io/Haal-Centraal-BRP-bewoning/">BRP Bewoning (live)</a>
          <a class="dropdown-item" href="https://brp-api.github.io/Haal-Centraal-Reisdocumenten-bevragen//">BRP Reisdocumenten (live)</a>
          <a class="dropdown-item" href="https://brp-api.github.io/Haal-Centraal-BRP-tabellen-bevragen/">BRP Tabellen</a>
          <a class="dropdown-item" href="https://brp-api.github.io/Haal-Centraal-BRP-Update-API/">BRP Update API</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal-WOZ-bevragen/">WOZ Bevragen (live)</a>
       </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bijdragen aan API's</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal/hoe-kun-je-bijdragen">Bijdragen aan API's</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal/bug_melden">Bug melden</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal/verbetervoorstel">Verbetervoorstel</a>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal/gebruikerswens">Gebruikerswens</a>
       </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="https://vng-realisatie.github.io/Haal-Centraal/over-haal-centraal">Over Haal Centraal</a>
<!--        <a class="nav-link dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Over Haal Centraal</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"-->
          
          <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/Haal-Centraal/planning">Planning</a-->
       </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://vng-realisatie.github.io/Haal-Centraal/contact">Contact</a>
      </li>
    </ul>
</div>
